<div class="mx-auto max-w-7xl sm:px-4">
  <Menu as |menu|>
    <menu.MenuActionButton/>
    <menu.MenuItems>
      {{#each this.options as |option|}}
        <menu.MenuItem>
          <p>{{option}}</p>
        </menu.MenuItem>
      {{/each}}
    </menu.MenuItems>
  </Menu>
</div>
